{% extends 'base.twig' %}

{% block main %}
    <div id="rechercheLivre" hidden="hidden">
        <form id="form" action="../controller/Accueil.php" method="post"
              class="flex gap-2 border-b border-blue-mds rounded-2xl py-3 px-2">

            <input id="hiddenInput" type="hidden" name="hiddenInput" value="">

            <div class="flex-1 flex gap-2 items-center">
                <label for="titre">Titre :</label>
                <input type="text" id="titre" name="titre" placeholder="Veuillez saisir un titre...">
            </div>

            <div class="flex-1 flex gap-2 items-center">
                <label for="auteur">Auteur :</label>
                <input type="text" id="auteur" name="auteur" placeholder="Veuillez saisir un auteur...">
            </div>

            <div class="flex-1 flex gap-2 items-center">
                <label for="editeur">Editeur :</label>
                <input type="text" id="editeur" name="editeur" placeholder="Veuillez saisir un éditeur...">
            </div>

            <div class="flex-1 flex gap-2 items-center">
                <p>Disponible :</p>
                <label for="disponibleoui">Oui</label>
                <input type="radio" id="disponibleoui" name="disponible" value="1">

                <label for="disponiblenon">Non</label>
                <input type="radio" id="disponiblenon" name="disponible" value="0">

                <label for="disponiblepeuimporte">Peu importe</label>
                <input type="radio" id="disponiblepeuimporte" name="disponible" value="" checked>
            </div>

            <div class="mx-auto">
                <button id="rechercher"
                        class="py-2 px-4 border border-transparent shadow-sm text-sm rounded-full text-black bg-blue-mds hover:bg-opacity-75 w-full">
                    Rechercher
                </button>
            </div>
        </form>
    </div>

    <div class="flex-1 flex flex-col justify-center items-center">
        {% if message != '' %}
            <p class="">{{ message }}</p>
        {% else %}
            <table class="w-full">
                <thead class="">
                <tr>
                    <th class="whitespace-nowrap text-left pe-4 pt-4 pb-1 w-5/12">Titre</th>
                    <th class="whitespace-nowrap text-left pe-4 pt-4 pb-1 w-3/12">Auteur</th>
                    <th class="whitespace-nowrap text-left pe-4 pt-4 pb-1 w-2/12">Éditeur</th>
                    <th class="whitespace-nowrap text-left pe-4 pt-4 pb-1 w-1/12">Dernier Emprunt</th>
                    <th class="whitespace-nowrap text-center pt-4 pb-1 w-1/12">Disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for livre in livres %}
                    <tr>
                        <td class="border-b border-b-blue-mds pe-4 pt-3 pb-1 w-5/12"
                            title="{{ livre.titre }}">{{ livre.titre }}</td>
                        <td class="border-b border-b-blue-mds pe-4 pt-3 pb-1 w-3/12"
                            title="{{ livre.auteur }}">{{ livre.auteur }}</td>
                        <td class="border-b border-b-blue-mds pe-4 pt-3 pb-1 w-2/12"
                            title="{{ livre.editeur }}">{{ livre.editeur }}</td>
                        <td class="border-b border-b-blue-mds pe-4 pt-3 pb-1 w-1/12 whitespace-nowrap ">
                            {% if livre.dernieremprunt != '' %}
                                {{ livre.dernieremprunt | date("d/m/Y") }}
                            {% else %}
                                Livre Neuf
                            {% endif %}
                        </td>
                        <td class="whitespace-nowrap w-1/12">
                            {% if livre.disponibilite %}
                                <div class="rounded-full bg-green-300 border border-black">&nbsp</div>
                            {% else %}
                                <div class="rounded-full bg-red-400 border border-black">&nbsp</div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="w-full flex justify-between">
            <div>
                <button id="precedent"
                        class="my-2 py-1 rounded-full font-semibold hover:underline flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                    </svg>
                    <span>Précédent</span>
                </button>
            </div>
            <div>
                <button id="suivant"
                        class="my-2 py-1 rounded-full font-semibold hover:underline flex items-center gap-2">
                    <span>Suivant</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                    </svg>
                </button>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            let precedent = $("#precedent")
            let suivant = $("#suivant")

            {% if filtres %}
            $("#rechercheLivre").show();
            {% endif %}

            {% if hidePrecedent %}
            precedent.hide();
            {% endif %}

            {% if hideSuivant %}
            suivant.hide();
            {% endif %}

            // si click sur rechercher, set hiddeninput value = rechercher et submit
            $("#rechercher").click(function () {
                $("#hiddenInput").val("rechercher");
                $("#form").submit();
            });

            // si click sur precedent, set hiddeninput value = precedent et submit
            precedent.click(function () {
                $("#hiddenInput").val("precedent");
                $("#form").submit();
            });

            // si click sur suivant, set hiddeninput value = suivant et submit
            suivant.click(function () {
                $("#hiddenInput").val("suivant");
                $("#form").submit();
            });
        });
    </script>

{% endblock %}


